<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ordisoftware.Hebrew.Words.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<userSettings>
		<Ordisoftware.Hebrew.Words.Properties.Settings>
   <setting name="MainFormPosition" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="MainFormLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainFormState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="ConfirmClosing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowTips" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HebrewLettersExe" serializeAs="String">
    <value>c:\Program Files\Ordisoftware\Hebrew Letters\Bin\Ordisoftware.Hebrew.Letters.exe</value>
   </setting>
   <setting name="SearchOnlineURL" serializeAs="String">
    <value>https://www.pealim.com/search/?q=%WORD%</value>
   </setting>
   <setting name="BackupCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="AutoSaveDelay" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="HebrewWordClickAction" serializeAs="String">
    <value>ContextMenu</value>
   </setting>
   <setting name="OpenVerseOnlineURL" serializeAs="String">
    <value>https://studybible.info/IHOT/%BOOKSB% %CHAPTERNUM%:%VERSENUM%</value>
   </setting>
   <setting name="VerseCommentaryLinesCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="BookmarksCount" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="BookmarkMainBook" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="BookmarkMainChapter" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="BookmarkMainVerse" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="WordControlWidth" serializeAs="String">
    <value>210</value>
   </setting>
   <setting name="FoundReferencesViewable" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="SearchTranslatedFormSize" serializeAs="String">
    <value>284, 461</value>
   </setting>
   <setting name="SearchTranslatedFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="HistoryCount" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="FoundReferencesToOpenDialog" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="GrammarGuideFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="GrammarGuideFormSize" serializeAs="String">
    <value>542, 666</value>
   </setting>
   <setting name="SearchTranslatedFormFilterDistinct" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CurrentSearchTypeTab" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CheckUpdateAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CloseSearchTranslatedFormReturnToReference" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OpenLastViewAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SearchInTorah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SearchInNeviim" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SearchInKetouvim" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImportVerseFormSize" serializeAs="String">
    <value>792, 666</value>
   </setting>
   <setting name="AutoOpenExportedFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SearchInBookSelectedNumber" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ImportVerseFormSplitterDistance" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="LanguageSelected" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="FoundReferencesColumnRefWidth" serializeAs="String">
    <value>130</value>
   </setting>
   <setting name="TranslatedItemDoubleClickAction" serializeAs="String">
    <value>ReachReference</value>
   </setting>
   <setting name="EditMemoFormClientSize" serializeAs="String">
    <value>492, 266</value>
   </setting>
   <setting name="EditBooksFormClientSize" serializeAs="String">
    <value>884, 661</value>
   </setting>
   <setting name="GoToBookmarkMainAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImportVerseFormGridColumnWidthHebrew" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="ImportVerseFormGridColumnWidthTranslationCurrent" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="AutoSortBookmarks" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VacuumAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DebuggerEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VacuumLastDone" serializeAs="String">
    <value/>
   </setting>
   <setting name="CheckUpdateLastDone" serializeAs="String">
    <value>2000-01-01</value>
   </setting>
   <setting name="TraceFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="TraceFormSize" serializeAs="String">
    <value>884, 661</value>
   </setting>
   <setting name="TraceFormTextBoxFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="TraceEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SoundsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AdvancedDialogBoxes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UsageStatisticsEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BenchmarkLoadData" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BenchmarkStartingApp" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ApplicationVolume" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="CheckUpdateAtStartupDaysInterval" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="VacuumAtStartupDaysInterval" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="WebLinksMenuEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ParashotFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="ParashotFormClientSize" serializeAs="String">
    <value>984, 676</value>
   </setting>
   <setting name="ParashotFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="ParashotFormFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="ParashotFormColumnTranslationWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ShowLastNewInVersionAfterUpdate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstLaunchV3_0" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BenchmarkTranslate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LoadingFormHidden" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TraceFormShowOnlyErrors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoOpenExportFolder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportFolder" serializeAs="String">
    <value>%USER_APP_DOCUMENTS%</value>
   </setting>
   <setting name="ExportImagePreferredTarget" serializeAs="String">
    <value>PNG</value>
   </setting>
   <setting name="PreferencesFormSelectedTabIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowSuccessDialogs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StatisticsFormAlwaysOnTop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StatisticsFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="WindowsDoubleBufferingEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BenchmarkRendering" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ExportDataPreferredTarget" serializeAs="String">
    <value>CSV</value>
   </setting>
   <setting name="CalculatorExe" serializeAs="String">
    <value>calc.exe</value>
   </setting>
   <setting name="BackupFolder" serializeAs="String">
    <value>%USER_APP_DOCUMENTS%\Backup</value>
   </setting>
   <setting name="RenderAllChapterVerses" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HebrewWordShiftClickAction" serializeAs="String">
    <value>OnlineSearch</value>
   </setting>
   <setting name="HebrewWordCtrlClickAction" serializeAs="String">
    <value>SearchTranslated</value>
   </setting>
   <setting name="HebrewWordShiftCtrlClickAction" serializeAs="String">
    <value>HebrewLetters</value>
   </setting>
   <setting name="VerseLabelClickAction" serializeAs="String">
    <value>ContextMenu</value>
   </setting>
   <setting name="SearchVerseRadioButtonIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SearchTranslationRadioButtonIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VerseWordTranslationLinesCount" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="RenderAllChapterVersesKeep" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CurrentView" serializeAs="String">
    <value>ChapterVerses</value>
   </setting>
   <setting name="FontSizeHebrew" serializeAs="String">
    <value>16</value>
   </setting>
   <setting name="FontSizeTranslation" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="FontSizeCommentary" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="BookNameHebrewWithCommonName" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CommentLinePrefix" serializeAs="String">
    <value>•</value>
   </setting>
   <setting name="CommentLineAddPrefix" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CommentLineRemovePrefix" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GoToLastVerseAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastReferenceBook" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastReferenceChapter" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastReferenceVerse" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastReferenceWord" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ThemeNavigatorItems" serializeAs="String">
    <value>LightYellow</value>
   </setting>
   <setting name="ThemeCurrentControl" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="ThemeCommentaryBack" serializeAs="String">
    <value>Honeydew</value>
   </setting>
   <setting name="ThemeSearchLettersBack" serializeAs="String">
    <value>LightYellow</value>
   </setting>
   <setting name="ThemeSearchWordBack" serializeAs="String">
    <value>AliceBlue</value>
   </setting>
   <setting name="ThemeTranslationBack" serializeAs="String">
    <value>Window</value>
   </setting>
   <setting name="AutoSaveOnLeaveControl" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CustomWebSearch" serializeAs="String">
    <value>https://www.google.com/search?q=studybible.info+Strong+Hebrew+Lexicon+KJV+Usage+%WORD%</value>
   </setting>
   <setting name="LettersControlHebrewCharsInBold" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BoardsHebrewCharsInBold" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="VerseHebrewCharsInBold" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVerseFromFirstToLast" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVerseFromLastToFirst" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVerseFromCurrentToFirst" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVerseFromCurrentToLast" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectVerseTranslated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVerseFullyTranslated" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectVerseTakeFirstElseLast" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectVerseWithoutComment" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportWordPrintFullReference" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportUseHebrewFontElseUnicodeChars" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IncludeOriginalTextInChapterTranslation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IncludeCommentInChapterTranslation" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EditMemoFormLastLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="EditMemoFormLastSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="TranscriptionGuideFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="TranscriptionGuideFormSize" serializeAs="String">
    <value>622, 666</value>
   </setting>
   <setting name="MethodNoticeFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="MethodNoticeFormSize" serializeAs="String">
    <value>542, 666</value>
   </setting>
   <setting name="ExportDocumentTheme" serializeAs="String">
    <value>Medium</value>
   </setting>
   <setting name="ExportDocumentDifferentOddAndEvenPages" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportDocumentMarginTop" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ExportDocumentMarginLeft" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ExportDocumentMarginRight" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ExportDocumentMarginBottom" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="ExportDocumentWordColumnsCount" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ExportDocumentOverrideWordColumnsCount" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportDocumentLandscape" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportDocumentPageWidth" serializeAs="String">
    <value>2100</value>
   </setting>
   <setting name="ExportDocumentPageHeight" serializeAs="String">
    <value>2970</value>
   </setting>
   <setting name="ExportDocumentMarginHeader" serializeAs="String">
    <value>130</value>
   </setting>
   <setting name="ExportDocumentMarginFooter" serializeAs="String">
    <value>130</value>
   </setting>
   <setting name="ExportDocumentDifferentFirstPage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ExportDocumentModel" serializeAs="String">
    <value>HebrewTabularWithWordForWordAndComment</value>
   </setting>
   <setting name="ExportDocumentVerseRefInBold" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WordControlTabInverted" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SpellCheckEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SystemStatisticsCalculateDbSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PreviewModeNotified" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BookNameHebrewWithParashah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BookmarksWithParashah" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BookmarksWithTranslation" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DatabaseRestoreAskToBackup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ThemeVerseNumberColor" serializeAs="String">
    <value>DarkBlue</value>
   </setting>
   <setting name="ThemeVerseNumberColorHover" serializeAs="String">
    <value>RoyalBlue</value>
   </setting>
   <setting name="ThemeVerseHebrewColor" serializeAs="String">
    <value>ControlText</value>
   </setting>
   <setting name="ThemeVerseHebrewColorHover" serializeAs="String">
    <value>DarkRed</value>
   </setting>
   <setting name="ThemeTranslationTextColor" serializeAs="String">
    <value>ControlText</value>
   </setting>
   <setting name="NormalizeTrimSpacesAndEmptyLines" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeRemoveEmptyLines" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeRemoveMultipleEmptyLines" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeRemoveMultipleSpaces" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeReplaceNewlinesBySpaceInTranslation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NormalizeTitleizeSentences" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeAddPeriodAtTheEnd" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizePrefix" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeApplyToTranslations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NormalizeApplyToComments" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormDisplayCount" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormOnlyFullyTranslated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormClientSize" serializeAs="String">
    <value>934, 561</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormOnlyPartiallyTranslated" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SelectVersesByDateUpdatedFormFontSize" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="CelebrationVersesBoardFormLocation" serializeAs="String">
    <value>-1, -1</value>
   </setting>
   <setting name="CelebrationVersesBoardFormClientSize" serializeAs="String">
    <value>384, 306</value>
   </setting>
   <setting name="CommentLineAddPrefixIgnoreCharsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CommentLineAddPrefixIgnoreChars" serializeAs="String">
    <value>*-</value>
   </setting>
  </Ordisoftware.Hebrew.Words.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
