<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ordisoftware.HebrewWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ordisoftware.HebrewWords.Properties.Settings.ConnectionString"
            connectionString="Dsn=Hebrew-Words" providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <Ordisoftware.HebrewWords.Properties.Settings>
            <setting name="MainFormPosition" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ConfirmClosing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>Verses</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HebrewLettersExe" serializeAs="String">
                <value>c:\Program Files\Ordisoftware\Hebrew Letters\Bin\Ordisoftware.HebrewLetters.exe</value>
            </setting>
            <setting name="SearchOnlineURL" serializeAs="String">
                <value>https://www.pealim.com/search/?q=%WORD%</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoSaveDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HebrewWordClickOpen" serializeAs="String">
                <value>SearchTranslated</value>
            </setting>
            <setting name="OpenVerseOnlineURL" serializeAs="String">
                <value>https://studybible.info/IHOT/%BOOKSB% %CHAPTERNUM%:%VERSENUM%</value>
            </setting>
            <setting name="VerseCommentaryLinesCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BookmarksCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BookmarkMasterBook" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BookmarkMasterChapter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BookmarkMasterVerse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WordControlWidth" serializeAs="String">
                <value>205</value>
            </setting>
            <setting name="FoundReferencesViewable" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SearchTranslatedFormSize" serializeAs="String">
                <value>292, 466</value>
            </setting>
            <setting name="SearchTranslatedFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="HistoryCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FoundReferencesToOpenDialog" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GrammarGuideFormLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="GrammarGuideFormSize" serializeAs="String">
                <value>492, 566</value>
            </setting>
            <setting name="SearchTranslatedFormFilterDistinct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentSearchTypeTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckUpdateAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseSearchTranslatedFormReturnToReference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenLastViewAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInTorah" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchInNeviim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchInKetouvim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportVerseFormSize" serializeAs="String">
                <value>792, 666</value>
            </setting>
            <setting name="OpenGeneratedMSWordFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchInBookSelectedNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportVerseFormSplitterDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="FoundReferencesColumnRefWidth" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="TranslatedItemDoubleClickOpen" serializeAs="String">
                <value>ReachReference</value>
            </setting>
            <setting name="EditMemoFormClientSize" serializeAs="String">
                <value>492, 266</value>
            </setting>
            <setting name="EditBooksFormClientSize" serializeAs="String">
                <value>692, 666</value>
            </setting>
            <setting name="GoToMasterBookmarkAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportVerseFormGridColumnWidthHebrew" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ImportVerseFormGridColumnWidthTranslationCurrent"
                serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AutoSortBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VacuumAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebuggerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VacuumLastDone" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckUpdateLastDone" serializeAs="String">
                <value />
            </setting>
        </Ordisoftware.HebrewWords.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
